<!DOCTYPE hmtml>
<html lang="en">
	<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="shortcut icon" href="../public/assets/poli.jpg">
			<title>CNMN</title>
			<link rel="stylesheet"  type="text/css" href="../node/bootstrap/dist/css/bootstrap.css">
			<link rel="stylesheet"  type="text/css" href="../public/assets/static/ui.css">
			<script src="../node/jquery/dist/jquery.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
			<script src="../node/bootstrap/dist/js/bootstrap.min.js"></script>
			<script src="https://kit.fontawesome.com/8d86f52526.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(104, 36, 68, 0.98);">
			<a class="navbar-brand" href="#">
				<img src="../public/assets/nanotecnologias.jpg" width="80" height="40" class="d-inline-block align-top" alt="" loading="lazy">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
		  	<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/views/login">Inicia/Registrate</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/views/acerca">Información</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/views/contacto">Contacto</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">