{{> header usuario='user' }}	
	<h1 class="mt-3 mb-3" style="color:rgba(104, 36, 68, 0.98);">Historial de reportes</h1>
	<div class="row" >
		<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover">
					<thead class="thead-dark  text-white text-center">
						<tr>
							<th width="5%" style="vertical-align:middle;" scope="col">Folio</th>
							<th width="25%" style="vertical-align:middle;" scope="col">Empleado</th>
							<th width="15%" style="vertical-align:middle;" scope="col">Área</th>
							<th width="10%" style="vertical-align:middle;" scope="col">Fecha de Creación</th>
							<th width="20%" style="vertical-align:middle;" scope="col">Periodo reportado</th>			
							<th width="10%" style="vertical-align:middle;" scope="col">Estado del documento</th>
							<th width="15%" style="vertical-align:middle;" scope="col">Opciones</th>					
						</tr>
					</thead>
					<tbody id="body-historial">
					</tbody>					
				</table>
			</div>
		</div>		
	</div>
<div class="modal" tabindex="-1" id="modalPDF" role="dialog" data-id="">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title text-center"><i class="fas fa-exclamation-triangle text-warning"></i>&nbsp &nbsp Aviso</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<p id="Cuerpo-Modal"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-6">
							<button type="button" class="btn btn-block btn-success" onclick="aceptar()" id="btn-modal">Aceptar</button>
						</div>
						<div class="col-6">
							<button type="button" class="btn btn-block btn-danger" onclick="cancelar()">Cerrar</button>
						</div>				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../public/js/historial.js"></script>	
<script type="text/javascript" src="../public/assets/static/jquery-ui.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.plugin.autotable.min.js"></script>
{{> footer }}