{{> header usuario='user' }}
<h1 class="mt-3 mb-3" style="color: rgba(104, 36, 68, 0.98);">Generar reporte</h1>
<div class="card ml-3 mr-3 mt-3">
	<div class="card-header font-weight-bold">Datos del empleado</div>
	<div class="card-body">
		{{!-- <div class="row">
			<div class="col-12">
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<span class="input-group-text">Buscar</span>
					</div>
					<input type="text" class="form-control" placeholder="Número del empleado" id="autoEmp"  data-idEmp="55">
					<div class="input-group-append">
						<button class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="bottom" title="Limpiar" id="clFind"><i class="fas fa-times-circle"></i></button>	
						<button class="btn btn-success" type="button" data-toggle="tooltip" data-placement="bottom" title="Continuar" id="btnEmp" style="display: none;"><i class="fas fa-arrow-circle-down"></i></button>					
					</div>
				</div>
			</div>
		</div> --}}
		<div class="row" id="datosEmp" >
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">NoEmpleado</span>
					</div>
					<input type="text" name="idEmp" id="idEmp" class="form-control" minlength="1" maxlength="100" value="{{user.clave}}" 
					data-idEmp= "{{user.id}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">Nombre</span>
					</div>
					<input type="text" name="aPat" id="aPat"  class="form-control" minlength="1" maxlength="100" value="{{user.aPat}}" readonly required>
					<input type="text" name="aMat" id="aMat"  class="form-control" minlength="1" maxlength="100" value="{{user.aMat}}" readonly required>
					<input type="text" name="nombre" id="nombre"  class="form-control" minlength="1" maxlength="100" value="{{user.nombre}}" readonly required>					
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 30px;">Área</span>
					</div>
					<input name="area" id="area" type="text" minlength="1" maxlength="1000" class="form-control" value="{{user.depto}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 25px;">CURP</span>
					</div>
					<input name="curp" id="curp" type="text" minlength="1" maxlength="1000" class="form-control" value="{{user.curp}}" readonly required>
				</div>
			</div>

			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 17px;">Correo</span>
					</div>
					<input type="text" name="mail" id="mail" class="form-control" minlength="1" maxlength="100" value="{{user.correo}}" readonly required>
				</div>
			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">Telefono</span>
					</div>
					<input name="tel" id="tel" type="text" readonly minlength="1" maxlength="1000" class="form-control" value="{{user.tel}}" required>                                                                                                                                                                
				</div>
			</div>		
		</div>
		<div class="row justify-content-center" id="rowEmp">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center">
				<button class="btn btn-success btn-sm btn-block" id="btnEmp">Continuar <i class="fas fa-arrow-circle-down"></i></button>
			</div>
		</div>	
	</div>
</div>
<div class="card ml-3 mr-3 mt-3"  id="card-tiempo" style="display:none;">
	<div class="card-header font-weight-bold">Tiempo del reporte</div>
	<div class="card-body">
		<div class="row">			
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 control-label" >
				<div class="input-group  date input-group-sm mb-3" data-date=""  data-link-format="yyyy-mm-dd"> 
					<div class="input-group-prepend">
						<span class="input-group-text maxInput">Fecha inicio</span>
					</div>
					<input class="form-control text-center" id="fechaI" name="fechaI" placeholder="YYYY-MM-DD" required>
				</div>	
			</div>		
			<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
				<div class="input-group date input-group-sm mb-3" data-date=""  data-link-format="yyyy-mm-dd">
					<div class="input-group-prepend">
						<span class="input-group-text maxInput" style="width: 100%; padding-right: 25px;">Fecha fin</span>
					</div>
					<input class="form-control text-center" id="fechaF" name="fechaF" placeholder="YYYY-MM-DD" required>
				</div>	
			</div>
		</div>
		<div class="row justify-content-center" id="rowBtnTiempo">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center">
				<button class="btn btn-success btn-sm btn-block" id="btnFecha">Continuar <i class="fas fa-arrow-circle-down"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="card ml-3 mr-3 mt-3 mb-3" id="card-actividades" style="display:none;">
	<form id="Regactividades" method="POST" enctype="multipart/form-data">
		<div class="card-header font-weight-bold">Registro de actividades</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" style="width: 100%; padding-right: 57px;">Título</span>
						</div>
						 <textarea id="titulo" name="titulo" class="form-control" aria-label="With textarea" required></textarea>
						<div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Cada fila del formato corresponde a una actividad específica a realizar por el trabajador. En este campo se coloca el nombre de la actividad."><i class="far fa-question-circle"></i></span>
						</div>
					</div>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text maxInput" style="width: 100%; padding-right: 41px;">Objetivo</span>
						</div>
						 <textarea class="form-control" aria-label="With textarea" id="objetivo" name="objetivo" required></textarea>
						<div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Finalidad de la actividad comenzando con un verbo en infinitivo."><i class="far fa-question-circle"></i></span>
						</div>
					</div>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text maxInput" style="width: 100%; padding-right: 23px;">Descripción</span>
						</div>
						 <textarea class="form-control" aria-label="With textarea" id="descripcion" name="descripcion" required></textarea>
						
						<div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Detallar las labores que conllevan la actividad designada."><i class="far fa-question-circle"></i></span>
						</div>
					</div>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" style="width: 100%; padding-right: 30px;">Entregable</span>
					  </div>
					 <input name="" type="text" minlength="1" maxlength="1000" id="entregable" name="entregable"  class="form-control" required>
					 <div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Producto resultante de la actividad a desarrollar, la cual será a su vez la evidencia del trabajo realizado."><i class="far fa-question-circle"></i></span>
						</div>
					</div>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group  date input-group-sm mb-3" data-date=""  data-link-format="yyyy-mm-dd">
						<div class="input-group-prepend">
							<span class="input-group-text maxInput" style="width: 100%; padding-right: 25px;">Fecha inicio</span>
						</div>
						<input class="form-control text-center" id="actFechaI" name="actFechaI" placeholder="YYYY-MM-DD" value="" required>
						 <div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Fecha y hora en la que inició la actividad."><i class="far fa-question-circle"></i></span>
						</div>
					</div>	
				</div>		
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group date input-group-sm mb-3" data-date=""  data-link-format="yyyy-mm-dd">
						<div class="input-group-prepend">
							<span class="input-group-text maxInput" style="width: 100%; padding-right: 41px;">Fecha fin</span>
						</div>
						<input class="form-control text-center" id="actFechaF" name="actFechaF" placeholder="YYYY-MM-DD" required>
						 <div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Fecha y hora en la que finalizó la actividad."><i class="far fa-question-circle"></i></span>
						</div>
					</div>	
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" style="width: 100%; padding-right: 40px;">Beneficio</span>
					  </div>
						 <input type="text" minlength="1" id="beneficio" name="beneficio" maxlength="1000"  class="form-control" required>
						 <div class="input-group-append">
								<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Aspectos que destaquen la importancia de la actividad para el Instituto Politécnico Nacional."><i class="far fa-question-circle"></i></span>
						</div>
					</div>
				</div>
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text maxInput">Comunicación</span>
						</div>
						 <input type="text" minlength="1" maxlength="1000" id="comunicacion" name="comunicacion" class="form-control" required>
						 <div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Medio a través del cual se mantendrá comunicación con el trabajador. Además del correo institucional puede utilizarse llamadas telefónicas, WhatsApp, Zoom, Teams, entre otros."><i class="far fa-question-circle"></i></span>
						</div>
					</div>	
				</div>		
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
					<div class="input-group input-group-sm mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text maxInput" style="width: 100%; padding-right: 49px;">Entrega</span>
						</div>
						 <input type="text" minlength="1" maxlength="1000" id="entrega"  name="entrega" class="form-control" required>
						 <div class="input-group-append">
							<span class="input-group-text" data-toggle="tooltip" data-placement="bottom" title="Medio a través del cual se entregará el producto o evidencia mencionada en el campo Entregable."><i class="far fa-question-circle"></i></span>
						</div>
					</div>	
				</div>
				<div class="col-12">
					<div class="input-group input-group-sm mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text">Observaciones</span>
					  </div>
					  <textarea class="form-control" id="observacion" name="observacion" aria-label="With textarea" placeholder="Mencionar información relevante que no se encuentre en los campos anteriores." required></textarea>
					</div>
				</div>
			</div>
			<div class="row justify-content-center" id="rowBtnAct">
				<div class="col-6 mb-3">
					<button class="btn btn-info btn-sm btn-block" id="agregar">Agregar actividad</button>
				</div>
			</div>
			<div class="row justify-content-center mb-3" id="rowBtnEditAct" style="display: none;">
				<div class="col-4">
					<button class="btn btn-success btn-sm btn-block" onclick="actActividad();" data-id="" id="btnActActividad">Actualizar actividad</button>
				</div>
				<div class="col-4">
					<button class="btn btn-danger btn-sm btn-block" onclick="cancelEdit();">Cancelar</button>
				</div>
			</div>
			<div class="row" style="display: none;" id="filaTabla" data-contador="0">
				<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="table-responsive">
						<table class="table table-sm table-striped table-hover">
							<thead class="thead-dark  text-white text-center">
								<tr>
									<th width="10%" style="border-radius: 7px 0 0 0;" scope="col">Numero</th>
									<th width="30%" scope="col">Titulo</th>
									<th width="50%" scope="col">Descripción</th>
									<th width="10%" style="border-radius: 0 7px 0 0;" scope="col">Opciónes</th>					
								</tr>
							</thead>
							<tbody id="bodyActividades">
							</tbody>					
						</table>
					</div>
				</div>		
			</div>
			<div class="row justify-content-center">
				<div class="col-6 mb-3">
					<button class="btn btn-success btn-sm btn-block " onclick="finalizar();">Finalizar</button>
				</div>
			</div>		
		</div>
	</form>
</div>
<script type="text/javascript" src="../public/js/reporte.js"></script>
<script type="text/javascript" src="../public/assets/static/jquery-ui.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.min.js"></script>
<script type="text/javascript" src="../public/assets/static/jspdf.plugin.autotable.min.js"></script>
{{> footer }}